{% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
        <article class="q-and-a-wrapper snippet-text-color" {{block.shopify_attributes}}>
          <h2 class="custom-heading-color">{{ block.settings.question }}</h2>
          <p class="snippet-text-color">{{ block.settings.answer }}</p>
        </article>
    {% endcase %}
{% endfor %}