<section class="single-block-container"
    <img class="single-block-logo" src="https://via.placeholder.com/150/0000FF/808080" alt="Plain blue tile to placehold an image"/>
    <h4 class="single-block-text">Lorem Ipsum</h4>
    <img class="single-block-featured-img" src="https://www.fillmurray.com/640/360" alt="Bill Murray placeholder img"/>
    <button>Buy Me Now</button>
</section>