<section class="feature-call-to-action-container"
    <img class="feature-call-to-action-logo" src="https://via.placeholder.com/150/0000FF/808080" alt="Plain blue tile to placehold an image"/>
    <h4 class="feature-call-to-action-text">Lorem Ipsum</h4>
    <img class="feature-call-to-action-img" src="https://www.fillmurray.com/640/360" alt="Bill Murray placeholder img"/>
    <button class="feature-call-to-action-btn">Buy Me Now</button>
</section>