<section class="feature-call-to-action-container">
    <img class="feature-call-to-action-icon" src="https://www.fillmurray.com/150/150" alt="Bill Murray placeholder img"/>
    <h4 class="feature-call-to-action-text">Lorem Ipsum</h4>
    <img class="feature-call-to-action-img" src="https://www.fillmurray.com/640/360" alt="Bill Murray placeholder img"/>
    <button class="feature-call-to-action-btn">Buy Me Now</button>
</section>

{% schema %}

{
	"name": "Feature Call To Action",
	"tag": "section",
	"class": "feature-call-to-action",
    "settings": [
    {
      "type": "text",
      "id": "callToActionSection",
      "label": "Feature Call To Action"
    }
  ],
	"limit": 1,
	"blocks": [{
			"name": "Icon",
			"type": "icon",
			"settings": [{
				"type": "image_picker",
				"id": "icon",
				"label": "Icon"
			}]
		},
		{
			"name": "Text",
			"type": "text",
			"settings": [{
				"type": "text",
				"id": "text",
				"label": "text"
			}]

		},
		{
			"name": "Feature Image",
			"type": "image",
			"settings": [{
				"type": "image_picker",
				"id": "image",
				"label": "image"
			}]
		},
		{
			"name": "Call to Action Button",
			"type": "button"
		}
	],
	"locales": {
		"en": {
			"title": "Feature Call to Action"
		}
	}
}

{% endschema %}