<section class="feature-call-to-action-container">
    <img class="feature-call-to-action-icon" src="https://www.fillmurray.com/150/150" alt="Bill Murray placeholder img"/>
    <h4 class="feature-call-to-action-text">Lorem Ipsum</h4>
    <img class="feature-call-to-action-img" src="https://www.fillmurray.com/640/360" alt="Bill Murray placeholder img"/>
    <button class="feature-call-to-action-btn">Buy Me Now</button>
</section>

{% schema %}

{
	"name": "Feature Call To Action",
	"tag": "section",
	"class": "feature-call-to-action",
	"settings": [{
			"type": "image_picker",
			"id": "image",
			"label": "image"
		},
		{
			"type": "url",
            "id": "callToActionBtn",
            "label": "Call to action button"
		}
        
	],
	"blocks": [{
			"name": "Icon",
			"type": "image_picker",
			"settings": [{
				"type": "image_picker",
				"id": "icon",
				"label": "Icon"
			}]
		},
		{
			"name": "Text",
			"type": "text",
			"settings": [{
				"type": "text",
				"id": "text",
				"label": "text"
			}]

		}
	],
	"presets": [{
		"name": "Feature Call To Action",
		"category": "Call To Action"
	}],
	"locales": {
		"en": {
			"title": "Feature Call to Action"
		}
	}
}

{% endschema %}