.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    width: 100vw;
    height: 315px;   
}

.carousel-btn {
    width: 250px;
    height: 57px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-btn:hover,
.carousel-btn:focus {
    opacity: 0.8;
    transition: 0.3s;
}

