.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    width: 100vw;
    height: 315px;   
}

.carousel-btn {
    width: 250px;
    height: 57px;
}

